@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  background-color: rgb(252, 241, 241);
  border: 2px solid rgb(206, 206, 206);
  border-radius: 4px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.281);
  color: black;
}
